/* Universal browser reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
 
 
 /* Style the navbar */
 #navbar {
  overflow: hidden;
  background-color: whitesmoke;
  width: 100%;
  padding-left: 0;
  display: inline-block;
  text-align: center;
  position: sticky;
  z-index: 99 !important; 
}

/* Navbar links */
#navbar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  position: sticky;
}


/* Page content */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


body{
  margin-left: 0;
  margin-right: 0;
  background-color: whitesmoke;
}

.subelements{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.saleitem {
  margin:25px;
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  display:inline-flex;    
  background-color: #f2f2f2;
  background-size: 150px 150px;
  border-radius: 2%;
}

.content{
  position: absolute;
  color:black;
  margin-top: 150px;
  width: 150px;
  text-decoration: none;
  font-size:small;
}

.salelink{
  position: absolute;
  display: block;
  height: 150px;
  width: 150px;
  text-decoration: none;
}

#bottom{
  text-align: center;
}


